<mat-toolbar>
  <span>PROJECT NAME</span>
  <span class="h-spacer"></span>
  <button mat-button>SWITCH</button>
</mat-toolbar>

<div *ngIf="proj$|async as project" class="content">
  <ng-container
    *ngIf="versionsSelected; then viewSummary; else viewVersions">
  </ng-container>

  <ng-template #viewSummary>
    <sp-project-summary></sp-project-summary>
    <sp-filter-components></sp-filter-components>
    <sp-filter-users></sp-filter-users>
  </ng-template>

  <ng-template #viewVersions>
    <section class="tiles">
      <ng-container *ngFor="let item of versionTiles">
        <sp-tile [data]="item"></sp-tile>
      </ng-container>
    </section>
    <section class="versions">
      <div class="select">
        <!-- TODO: Enable only if there is a selection -->
        <button mat-button
          class="select"
          (click)="selectVersions()">SELECT</button>
      </div>
      <div class="options">
        <sp-filter-versions #affected
          title="Affected versions"
          mode="affected"
        ></sp-filter-versions>
        <sp-filter-versions #fixed
          title="Fixed versions"
          mode="fixed"
        ></sp-filter-versions>
      </div>
    </section>
  </ng-template>
</div>
