\:host
  display: flex
  flex-direction: column

  section
    display: flex
    flex-direction: row

    sp-project-summary,
    sp-filter-versions
      flex: 1

    .select
      margin: 16px
      align-self: self-start
