\:host
  display: flex
  flex-direction: column
  height: 100%
  flex-grow: 1
  overflow-y: auto
  box-sizing: border-box

  .content
    display: flex
    flex-direction: row
    padding: 16px

    sp-project-summary
      flex: 1

    section.tiles
      display: grid
      grid-row-gap: 16px
      grid-column-gap: 16px
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr))
      flex: 1

    section.versions
      display: flex
      flex-direction: column

      div.select
        align-self: self-end

      div.options
        display: flex
        flex-direction: row
