\:host
  display: flex
  flex-direction: column

  mat-toolbar
    height: 48px
    flex: 0 0 auto

    span
      font-size: 16px

  .controls
    display: flex
    padding: 16px 16px 8px 16px
    flex-direction: row
    justify-content: space-between
    border-bottom: 1px solid #c0c0c0

    button
      align-self: center

  .list
    display: grid
    padding: 8px 16px 16px 16px
    grid-row-gap: 16px
    grid-column-gap: 16px
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
