<ng-container
  *ngIf="mode === 'fixed'; then hdrFixed; else hdrAffected">
</ng-container>

<ng-template #hdrFixed>
  <h3 class="mat-h3">Fixed version(s)</h3>
</ng-template>

<ng-template #hdrAffected>
  <h3 class="mat-h3">Affected version(s)</h3>
</ng-template>

<mat-selection-list #filterVersions
  *ngIf="versions$|async as versions"
  (selectionChange)="toggleVersion(filterVersions.selectedOptions.selected)">

  <mat-list-option *ngFor="let item of versions"
    [ngClass]="{'released': item.released}"
    [value]="item.id">
    {{item.name}}
  </mat-list-option>

</mat-selection-list>
