<mat-toolbar color="primary">
  <span>INSIGHT</span>

  <span class="h-spacer"></span>

  <ng-container *ngIf="proj$|async as project">
    <span class="mat-body-2">{{project.name}}</span>
    <button *ngIf="currentUrl !== '/home'"
      mat-stroked-button
      [routerLink]="['/home']">&#8646;</button>
  </ng-container>

  <ng-container *ngIf="isAuth$|async">
    <button *ngIf="user$|async as user"
      mat-button
      class="user-button"
      [matMenuTriggerFor]="userMenu">{{user.name}}</button>

    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="logout()">LOGOUT</button>
    </mat-menu>
  </ng-container>
</mat-toolbar>
